<!-- Footer -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <strong>AdminLTE Theme 2.0 powered by <a href="http://almsaeedstudio.com">Almsaeed Studio</a> &nbsp; </strong>
    </div>
    <strong>&nbsp;</strong>
</footer>
<!-- ./Footer -->